body {
	overflow-x: hidden; 
}

#related-id {
	display: none;
}

/**************/
/*    GRID    */
/**************/

.col-lg-2-4 {
	width: 20%;
}

.margin-bottom-25 {
	margin-bottom: 25px;
}

.slight-padding {
	padding-bottom: 15px;
}


/***************************/
/***    Media Queries    ***/
/***************************/
@media only screen and (max-width: 1900px) {
	.caption {
		margin-top: 8px;
	}
}

@media only screen and (max-width: 1024px) {
	.mini-padding {
		padding-bottom: 15px;
	}
}

/********************************************/
/***    Tablet and Phone Media Queries    ***/
/********************************************/

/**********************/
/*** iPhone 2G - 4S ***/
/**********************/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.caption {
		font-size: 1.2rem;
	}

	.margin-iphone {
		margin-bottom: 15px;
	}

	.reduce-right {
		padding-right: 7.5px;
	}

	.reduce-left {
		padding-left: 7.5px;
	}
}